body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 1fr;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: system-ui!important;
}


#img-footer{
    max-width: 100px;
    margin: 2%px;
}

#img-navbar{
    margin: 10px;
    max-width: 50px;
}

.banner-img {
    width: 100%;
    max-width: 85%;
    margin: auto;
    padding: 0;
    display: block;
}

#sidebar{
    position: center;
    padding:10px;
}

a{
    text-decoration: none;
}

.listaSidebar{
    margin-left: 10%;
}

footer{
    margin:0px;
    padding: 0%;
}
.row {
    --bs-gutter-x: 0rem!important;
}

.producto{
    margin:1%;
}

.boton-login{
    margin: 1%;
}


/* seccion de diseño del boton de ir a top */
#btnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #55A603;
    color: #fff;
    border: #55A603;
    border-radius: 40%;
    cursor: pointer;
}

#btnTop:hover {
    background-color: #BED9A3;
}


/* seccion de diseño de los titulos de las secciones */
.titulo-seccion{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #55A603;
}