{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Step-Therapy©</title>

  <link rel="shortcut icon" href="{% static 'core/img/logo.ico' %}" type="image/x-icon">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body style="padding-top: 70px;">
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid mx-auto text-center">
      <img src="{% static 'core/img/logo-sombra.png' %}" alt="" id="img-navbar" />
      <a class="navbar-brand" href="{% url 'index'%}">Step-Therapy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="nav-item dropdown" id="productosDropdown">
            <a class="nav-link dropdown-toggle" href='index' role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Productos
            </a>
            <div class="dropdown-menu" aria-labelledby="productosDropdown">
              <!-- Marcas y Modelos -->
              <div class="row">
                <div class="col">
                  <li class="dropdown-item titulo-hover" id="marcasDropdownBtn" href="#">Marcas</li>
                  {% for mar in marcas %}
                  <li class="lista">
                    <a class="dropdown-item d-inline mr-2 text-truncate menu-hover" href="#"
                      data-marca-id="{{ mar.id }}">
                      {{mar.nombreMarca}}
                    </a>
                  </li>
                  {% endfor %}
                </div>
                <div class="col">
                  <li class="dropdown-item titulo-hover" id="modelosDropdownBtn" href="#">Modelos</li>
                  {% for mod in modelos %}
                  <li class="lista">
                    <a class="dropdown-item d-inline mr-2 text-truncate menu-hover" href="#"
                      data-marca-id="{{ mar.id }}">
                      {{mod.nombreModelo}}
                    </a>
                  </li>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </ul>
      </div>
      <div class="d-flex justify-content-center">
        <form class="d-flex text-center" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <a href="{%url 'login'%}" class="btn btn-outline-success boton-login"><i class="bi bi-person"></i>
        Iniciar Sesion
      </a>
    </div>
    <a href="{%url 'detalleCarrito'%}" class="btn btn-outline-success boton-login"><i class="bi bi-cart"></i>
    </a>
  </nav>
  <content> {% block content %} {% endblock content %} </content>

  <footer class="row row-cols-md-5 py-5 border-top" style="background: linear-gradient(to top, #b9d9ad, #ffffff)">
    <div class="col mb-3 d-flex align-items-center" style="margin-left: 10%;">
      <a href="/" class="link-dark text-decoration-none d-flex">
        <img src="{% static 'core/img/logo-sombra.png' %}" alt="" id="img-footer" />
      </a>
      <p class="text-muted">Step-Therapy© 2024</p>
    </div>

    <div class="col mb-3"></div>

    <div class="col mb-3">
      <h5 style="color: #359704">Tienda</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'index'%}" class="nav-link p-0 text-muted">Productos</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Ofertas</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Convenios</a>
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 style="color: #359704">Nuestros Prductos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Laboratorios</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Features</a>
        </li>
      </ul>
    </div>
  </footer>


  <button id="btnTop" onclick="scrollToTop()"><i class="bi bi-caret-up-fill"></i></button>
  <script src="{% static 'core/js/index.js' %}"></script>
  <!-- Incluye jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Incluye Popper.js -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <!-- Incluye Bootstrap.js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>


  <!-- script para hacer funcionar el hover del navbar -->
  <script>
    $(document).ready(function () {
      // Mostrar el menú al pasar el ratón sobre "Productos"
      $('#productosDropdown').hover(
        function () {
          $(this).find('.dropdown-menu').addClass('show');
        },
        function () {
          $(this).find('.dropdown-menu').removeClass('show');
        }
      );
    });
  </script>
</body>

</html>