{% extends 'core/detalle-producto.html' %} {% load static %} {% block content %}
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="5" class="text-center" style="width: 3px; font-size: smaller;">
                CARRITO
            </th>
        </tr>
        <tr>
            <th scope="col" style="width: 3px; font-size: smaller;">NOMBRE</th>
            <th scope="col" style="width: 3px; font-size: smaller;">PRECIO</th>
            <th scope="col" style="width: 3px; font-size: smaller;">CANTIDAD</th>
            <th scope="col" style="width: 3px; font-size: smaller;">Agregar</th>
            <th scope="col" style="width: 3px; font-size: smaller;">Quitar</th>
        </tr>
    </thead>
    <tbody>
        {% if productos %}
            {% for detalle_producto in productos %}
            <tr>
                <td style="width: 3px; font-size: smaller;">{{ detalle_producto.nombre }}</td>
                <td style="width: 3px; font-size: smaller;">{{ detalle_producto.Precio }}</td>
                <td style="width: 3px; font-size: smaller;">{{ detalle_producto.Cantidad }}</td>
                <td scope="col" style="width: 3px; font-size: smaller;">
                    <a href="{% url 'Add' detalle_producto.id_producto %}" class="btn btn-outline-success boton-login">
                        <i class="bi bi-bag-plus-fill"></i>
                    </a>
                </td>
                <td scope="col">
                    <a href="{% url 'Sub' detalle_producto.id_producto %}" class="btn btn-outline-success boton-login">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">
                    <div class="alert alert-danger text-center">
                        <p style="color: cadetblue;">Sin Productos</p>
                    </div>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Total:</th>
            <td colspan="4">${{ total_carrito }}</td>
        </tr>
    </tbody>

</table>

<div class="row text-center" colspan="5">
    <div colspan="2">
        <a href="{% url 'Cls'%}" class="btn btn-danger">Limpiar</a>
    </div>
    <div colspan="2">
        <a href="#" class="btn btn-success">Pagar</a>
    </div>

</div>

{%endblock%}