<div class="container" id="productos-marcas-container">
  <h2 class="titulo-seccion">Nuestros Productos</h2>
  <div class="row">
    {% for prod in productos %}
    <div class="col-md-2 mb-2 producto" id="producto-{{ prod.id }}">
      <div class="card">
        <img
          src="{{prod.imagenproducto.url}}"
          class="card-img-top img-fluid"
          alt="{{ prod.nombre }}"
          style="margin: 10px; max-width: 90%"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: #5eab37;font-size: medium;">
            {{prod.nombreproducto}}
          </h5>
          <p class="card-text" style="font-size: small;">
            {{prod.modelo}}
          </p>
          <p class="card-text" style="font-size: small;">
            {{prod.marca}}
          </p>
          <p class="card-text" style="color: #359704">
            Precio: ${{prod.preciounitarioproducto}}
          </p>
          <a href="{% url 'detalleProducto' prod.id %}" class="btn btn-primary">Detalles</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
